* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    
}

header {
    width: 100%;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #25bba7;
    color: #F5F5DC;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    display: inline-block;
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header ul {
    list-style-type: none;
}

header li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #F5F5DC;
    text-decoration: none;
}

p {
   font-size: 14px;
   color:rgb(27, 27, 27)
}
main{
    display:flex;
    flex-wrap: wrap;
}
.Projects {
    width: 70%;
    height: 100%;
    margin-left: 20px;
    margin-top: 20px;
    background-color:#c4aab7;
    ;
}  

.Projects h2{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float:left;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 20px;
    color:rgb(27, 27, 27)

}
.Projects h3 {
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(27, 27, 27) ;
}


.first-application{
    background-image:url("../images/foreign-currency.jpg");
    background-size: 100%;
    margin-top: 60px;
    margin-left:20px;
    margin-bottom:20px;
    margin-right: 20px;
    padding-right: 200px;
    height: 500px;
}

.project-description-1 {
    max-width: 30%;
    background-color: #c4aab7;
    padding: 5px;
    margin-top: 350px;
}
.project-description-2 {
    max-width: 30%;
    background-color: #c4aab7;
    padding: 5px;
    margin-top: 160px;
}
.secondary-projects {
    display: inline-flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 300px;
}
.dog-website{
    background-image:url("../images/collar.webp");
    background-size: 100%;
    margin-right: 20px;
}
.code-defactor{
    background-image:url("../images/html-tidy.jpg");
    background-size: 100%;

}
.skills {
    float: right;
    width: 25%;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding:40px;
    clear: both;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #c4aab7;
}
.Technical-skills {
    margin-bottom: 32px;
    margin-top: 20px;
    color:rgb(27, 27, 27);
}


.Technical-skills ul {
    display:block;
    padding-bottom: 25px;
    text-align: center;
    list-style-type: none;
}

.Technical-skills h3 {
    margin-bottom: 20px;
    text-align: center;
    color:rgb(27, 27, 27);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Technical-skills img {
    display: block;
    max-width: 125px;
    margin:10px auto;
    margin-bottom: 130px;
}
footer {
    width: 100%;
    height: 25%;
    background-color:#41d8c4 ;
    margin-top: 20px;
    padding: 30px;
    color:#F5F5DC;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif 
}
footer h2{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#F5F5DC;
    padding:20px;
    margin-right: 20px;

}

footer ul {
    padding-top:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 20px;  
    list-style-image: url(https://iconsplace.com/wp-content/uploads/_icons/fa8072/256/png/linkedin-icon-15-256.png);
}

footer li{
    display:inline-block;
    margin-left: 100px;

}
footer p{
   color: rgb(27, 27, 27);
}
    @media screen and (max-width: 1216px) {
    .Projects {
      width:100%;
      margin-right:20px ;
      min-width: 678px;
    }
    .skills {
      display: flex;
      flex-wrap: wrap;
      justify-content:space-around;
      width: 100%;
      height: 400px;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
      padding:40px;
      clear: both;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: #c4aab7;
    
    }
    .project-description-2 {
        max-width: 30%;
        background-color: #c4aab7;
        padding: 5px;
        margin-top: 140px;
    }
    
    }

    
    
    
    
    

